#MongoDB params
host=greenmon.ru
port=27017
dbname=admin
login=root
password=root
table=visitors

#URLs params
#OLD weatherURL=http://api.apixu.com/v1/forecast.xml?key=dec6a405f5914a8bbe070116181110&days=2&q=
#weatherURL=http://api.weatherstack.com/forecast?access_key=d315fded2c4a08e22720f7e3f8844c6d&query=Novosibirsk&days=1
weatherURL=http://api.weatherstack.com/forecast?access_key=d315fded2c4a08e22720f7e3f8844c6d&query=
currencyURL=https://www.cbr.ru/scripts/XML_daily.asp







       